hr {color: blue; background-color: blue; height: 1em;}
h1 {color: white; background-color: blue}
h2 {color: #330099)
h5 {color: red}
img {max-width:20%; height:auto;}
a:link {color: #cc00cc}
a:visted {color: #FF3300)
a:hover {color: #00ff00)
a:active {color: #585858)
